@model HouseMarket.Models.HouseMarketOffer.BrokersModel
@{
    ViewData["Title"] = "House Market Offer Page";
}

<div class="text-center">
    <h1 class="display-1">House Market Amsterdam</h1>
    <h4 class="display-1">Top 10 brokers</h4>
</div>


<table class="table">
    <thead>
    <tr>
        <th>Broker Id</th>
        <th>Broker Name</th>
        <th>Number of Houses</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var broker in @Model.TopBrokers!)
    {
        <tr>
            <td>@broker.Select(x=>x.MakelaarId).First()</td>
            <td>@broker.Select(x=>x.MakelaarNaam).First()</td>
            <td>@broker.Count()</td>
        </tr>
    }
    </tbody>
</table>