@model HouseMarket.Models.HouseMarketOffer.BrokersViewModel
@{
    ViewData["Title"] = "House Market Offer Page";
}

<div class="text-center">
    <h1 class="display-5">House Market</h1>
    <h4 class="display-6">Top @Model.NumberOfTopBrokers brokers Amsterdam</h4>
</div>
@await Html.PartialAsync("_topBrokers", Model.TopBrokerListViewModel1);



<div class="text-center">
    <h4 class="display-6">Top @Model.NumberOfTopBrokers brokers Amsterdam(house with garden)</h4>
</div>
@await Html.PartialAsync("_topBrokers", Model.TopBrokerListViewModel2);

